<ion-header [translucent]='true'>
    <ion-toolbar>
        <ion-title>{{ room.name }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-button (click)="watched = !watched" *ngIf="!watched" expand="block">
        Begin escape room
    </ion-button>
    <ion-row>
        <iframe id="iframe" style="background-color: aliceblue;" [ngStyle]="{'display': watched?'block': 'none'}" width="560" height="315" allowfullscreen></iframe>
    </ion-row>
    <ion-button *ngIf="watched" expand="block" (click)="started?stopSession():startSession()">
        {{ started?'Stop session':'Start session'}}
    </ion-button>
    <h1  *ngIf="watched" style="color: white;">
        Timer: {{started?(distance < 0?"Finished":(hours + ':' + minutes + ':' + seconds)):"Not started"}}
    </h1>
    <ion-list [ngStyle]="{'display': distance < 0 ? 'initial' : 'none'}">
        <ion-item *ngFor="let team of session.teams; let i = index">{{i + 1}}. {{team.name}}: {{team.score}} points; Question: {{team.reachedAnswer + 1}}</ion-item>
        <ion-row>
            <iframe id="iframe2" style="background-color: aliceblue;" [ngStyle]="{'display': watched?'block': 'none'}" width="560" height="315" allowfullscreen></iframe>
        </ion-row>
    </ion-list>
</ion-content>