<ion-header [translucent]='true'>
    <ion-toolbar>
        <ion-title>{{data.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='false'>
    <ion-header collapse='condense'>
        <ion-toolbar>
            <ion-title size='large'>
                <div style="display: flex; justify-content: space-between;">
                    <span>{{data.title}} ({{data.score}} Puntos)</span>
                </div>
            </ion-title>
        </ion-toolbar>
        <span class="ion-padding">{{data.room}}</span>
    </ion-header>
    <div style='font-size: 2rem; display: flex; justify-content: center; font-weight: 500' *ngIf='distance > 0 && ! data.isFinished'>{{hours}}:{{minutes}}:{{seconds}}</div>
    <ion-list-header *ngIf='distance <= 0 && ! data.isFinished'>Time expired</ion-list-header>
    <ion-card style="padding-bottom: 10px;" *ngFor="let question of data.questions; let i = index">
        <ion-list-header style='font-size: 1.375rem'>{{question.statement}}</ion-list-header>
        <div *ngIf="question.answered == 'no'">
            <ion-button *ngIf='question.clue == null' color='tertiary' class='ion-padding-horizontal' expand='block'
                    (click)='requestClue(i)'>
                <ion-icon style='margin-right: 0.5rem' [name]='isClue ? "eye-off-outline" : "eye-outline"'></ion-icon>
                Pedir Pista
            </ion-button>
            <ion-list *ngIf='question.clue != null' [inset]='true'>
                <ion-item>Clue: {{question.clue}}</ion-item>
                <ion-img *ngIf="question.clueImage != '' && question.clueImage != null" [src]="question.clueImage"></ion-img>
            </ion-list>
            <ion-button *ngIf='distance > 0 && ! data.isFinished' color='tertiary' class='ion-padding-horizontal' expand='block'
                        (click)='giveUp(i)'>
                <ion-icon style='margin-right: 0.5rem' [name]='isClue ? "eye-off-outline" : "eye-outline"'></ion-icon>
                Redirte
            </ion-button>
            <ion-list-header *ngIf='distance > 0 && ! data.isFinished' style='font-size: 1.375rem'>Escribe aquí la solución</ion-list-header>
            <form *ngIf='distance > 0 && ! data.isFinished' [formGroup]='answerForm'>
                <ion-list [inset]='true'>
                    <ion-input formControlName='answer' placeholder='Escribe aquí la solución...' class='ion-padding'></ion-input>
                </ion-list>
                <ion-button (click)='onSubmit(i)' class='ion-padding-horizontal' expand='block'>Validar</ion-button>
            </form>
        </div>
        <div *ngIf="question.answered != 'no'" class="ion-padding">
            {{question.answered=='gave up'?"You gave up on this question":"Preguntas Acertadas"}}
        </div>
        <ion-img *ngIf="question.answered == 'gave up'" [src]="question.answeredImage"></ion-img>
    </ion-card>
</ion-content>
