<ion-header [translucent]='true'>
    <ion-toolbar>
        <ion-title>{{data.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='true'>
    <ion-header collapse='condense'>
        <ion-toolbar>
            <ion-title size='large'>{{data.title}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <div style='font-size: 2rem; display: flex; justify-content: center; font-weight: 500' *ngIf='distance > 0 && ! data.isFinished'>{{hours}}:{{minutes}}:{{seconds}}</div>
    <ion-list-header *ngIf='distance <= 0 && ! data.isFinished'>Time expired</ion-list-header>
    <ion-list-header *ngIf='distance > 0 && ! data.isFinished'
                     style='font-size: 1.375rem'>{{data.questions[currentQuestion].question}}</ion-list-header>
    <ion-button *ngIf='distance > 0 && ! data.isFinished' color='tertiary' class='ion-padding-horizontal' expand='block'
                (click)='isClue = !isClue'>
        <ion-icon style='margin-right: 0.5rem' [name]='isClue ? "eye-off-outline" : "eye-outline"'></ion-icon>
        {{isClue ? 'Hide Clue' : 'Show clue'}}
    </ion-button>
    <ion-list *ngIf='isClue && distance > 0 && ! data.isFinished' [inset]='true'>
        <ion-item>{{data.questions[currentQuestion].clue}}</ion-item>
    </ion-list>
    <ion-list-header *ngIf='distance > 0 && ! data.isFinished' style='font-size: 1.375rem'>Your answer</ion-list-header>
    <form *ngIf='distance > 0 && ! data.isFinished' [formGroup]='answerForm'>
        <ion-list [inset]='true'>
            <ion-input formControlName='answer' placeholder='Enter your answer...' class='ion-padding'></ion-input>
        </ion-list>
        <ion-button (click)='onSubmit()' class='ion-padding-horizontal' expand='block'>Submit</ion-button>
    </form>
    <ion-list-header style='font-size: 2.5rem' *ngIf=' data.isFinished'>You have finished! 🎉</ion-list-header>
</ion-content>
